@import url(https://fonts.google.com/?query=poppin)
body{
	font-family: 'Poppins';
	font-size: 14px;
	color: #666;
}

#sec-slider{
	
	
	

}
footer{
	background-color: #1b222c;
	padding: 15px 0;
	color: #9e9e9e;
}

